h1 {
	background: #383636;
	text-align: center;
	color: white;
	margin: 0;
	padding: 10px;
	text-transform: uppercase;
	font-size: 26px;
	font-weight: normal;
}
/*#0658C7*/

/*#006BB6 #BEC0C2 #F58426 knicks blue, silver, orange*/

.fa-pencil-alt{
	float: right;
}

body {
	font-family: 'Ubuntu', sans-serif;
	/*from uigradients.com*/
	background: #006BB6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #006BB6, #BEC0C2, #F58426); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #006BB6, #BEC0C2, #F58426); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li  {
	background: white;
	height: 38px;
	line-height: 38px;
}

li:nth-child(2n){
	background: #F7E0C1;
}

span{
	background: #F58426;
	height: 38px;
	margin: 0px;
	text-align: center;
	width: 0px;
	transition: 0.2s linear;
	display: inline-block;
	opacity: 0;
}

li:hover span{
	width: 40px;
	opacity: 1.0;
}


input {
	font-size: 18px;
	background-color: #F7E0C1;
	border: 3px solid #383636;
	width: 100%;
	padding: 12px 12px 12px 20px;
	box-sizing: border-box;

}
input:focus{
	background: white;
	outline: none;
}

#mainContain {
	
	border: 2px solid #383636;
	width: 350px;
	margin: 80px auto;
	background: #F7E0C1;
}

.done {
	color: gray;
	text-decoration: line-through;
}

